#left-sidebar-button {
  position: fixed;
  top: 250px;
  right: 5px;
  z-index: 999;
}

#playerDetails p {
  padding: 5px 25px;
  font-weight: 400;
}

.side {
  background: #51E8D6;
}

body {
  padding-bottom: 50px;
}

md-toolbar h2 {
  font-size: 1.250em;
  font-weight: 400;
  margin: auto;
}

md-content {
  padding-left: 30px;
  padding-right: 30px;
}

#search-icon {
  position: absolute;
  right: 25px;
  top: 20px;
}

.app-title {
  margin-right: 10px;
}

#toolset {
  position: absolute;
  top: 20px;
}
