<!doctype html>
<html lang="en" ng-app="galleryApp">
<head>
  <meta charset="utf-8">
  <title>Gallery</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="js/controllers.js"></script>
</head>
<body ng-controller="GalleryListCtrl">

  <div id="player">
    <audio ng-src="{{selectedSongPath}}" controls autoplay
      width="auto"></audio>
  </div>
  <ul>
    <li ng-repeat="item in items">
      <a href="" ng-click="songSelect(item.path)">{{item.name}}</a>
    </li>
  </ul>

</body>
</html>
