<!doctype html>
<html lang="en" ng-app="galleryApp">
<head>
  <meta charset="utf-8">
  <title>LocalExplorer</title>
  <meta name="viewport" content="initial-scale=1 maximum-scale=1, user-scalable=no"/>
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
  <link rel="stylesheet" href="bower_components/angular-material/default-theme.css">
  <link rel="stylesheet" href="css/app.css">

</head>
<body ng-controller="GalleryListCtrl">
  <div>
    <div id="player">
      <audio ng-src="{{selectedSongPath}}" controls autoplay
        width="auto"></audio>
    </div>

    <md-toolbar layout="row">
      <h2>
        <span>Music</span>
      </h2>
    </md-toolbar>

    <md-input-container flex>
      <label>Search</label>
      <input ng-model="search">
    </md-input-container>

    <md-content>
      <md-card ng-repeat="song in songs | filter:search">
        <md-card-content>
          <div class="md-title-content">
            <p ng-click="songSelect(song)">{{song.name}}</p>
            <section layout="row" layout-sm="column">
              <a href="/download/{{song.name}}">
                <md-button class="md-fab" aria-label="Download">
                  <ng-md-icon icon="file_download"></ng-md-icon>
                </md-button>
              </a>
            </section>
          </div>
        </md-card-content>
      </md-card>

    </md-content>
  </div>


  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/hammerjs/hammer.js"></script>
  <script src="bower_components/angular-material/angular-material.js"></script>
  <script src="bower_components/angular-material-icons/angular-material-icons.js"></script>
  <script src="js/controllers.js"></script>
</body>
</html>
